@media (max-width: 1024px) {
  .container {
    max-width: 954px;
  }

  /* header */
.header {
  margin-bottom: -5px;
}

  .header__container {
    padding: 8px 15px;
  }

  .header__nav {
    display: none;
  }

  .burger {
    position: relative;
    bottom: 2px;
    display: block;
    margin-right: auto;
    width: 30px;
    height: 23px;
    color: var(--black);
    background-color: transparent;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background-color: currentColor;
  }

  .burger__line:nth-child(1) {
    top: 0;
  }

  .burger__line:nth-child(3) {
    bottom: 0;
  }

  .header__logo-link {
    width: 150px;
    height: 48px;
  }

  /* hero */
  .hero__content {
    padding: 160px 77px;
  }

  .hero__header {
    margin-bottom: 16px;
    max-width: 100%;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__text {
    margin-bottom: 60px;
    max-width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
}
